        /* AUFGABE 1: 1>Paragraph 1 in der ersten Section */
        /* TODO { color: gold; }
        #sec1 p.class-1 {
                color: gold;
        } */


        /* AUFGABE 2: selektiere 3>Paragraph Z   */
        /* #sec3 #id3 p.class-3 {
                color: orange;
        } */

        /* AUFGABE 3: 2>Paragraph in erster und zweiter Section */
        /* #sec2 p.class-2 
        #sec3 p.class-2 {       
                color: purple;
        } */

        /* AUFGABE 4: 3>Paragraph Z in der zweiten section */
        /* #sec2 #id3 .p-class {
                color: red; 
        } */

        /* AUFGABE 5: alle gruenen list items */
        /* .green li {
                color: green;
        } */

        /* AUFGABE 6: jeweils die ersten beiden list items */
        /* ul li:first-child(-n+2) {
                font-weight: bold;
        } */


        /* AUFGABE 7: jeweils die ersten beiden list items der blauen und gruenen section */
        /* .blue ul li:first-child(-n+2),
        .green ul li:first-child(-n+2) {
                color: hot-pink;
        } */

        /* AUFGABE 8: Paragraphs in den ersten beiden sections */
        /* #sec1 p, 
        #sec2 p {
                color: darkorange; 
        } */